body {
	font-family: "Lato", sans-serif;
	font-size: 15px;
	margin: auto;
	list-style: inside;
	max-width: 2000px;
	text-align: center;
}

h1 {
	font-size: 36px;
	letter-spacing: 4px;
	text-align: center;
}

h2 {
	opacity: 0.75;
	color: LightGray;
	font-size: 30px;
	text-align: center;
}

h3 {
	font-size: 20px;
}

.wrapper {
	display: block;
	text-align: left;
	list-style: inside;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.contentpage {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

table {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 8px;
	text-align: left;
}

th {
	background-color: black;
	color: white;
}

td {
  background-color: #eee;
}
